
body {
	margin: 0;
}

@-webkit-keyframes rainbow_animation {
	0% {opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {opacity: 0.0;}
}

#rainbow {
	position: absolute;
	// left: 0px;
    	top: 0px;
    	width: 100%;
    	height: 480px;
	background-color: transparent;
	opacity: 0.0;
	-webkit-animation-name: rainbow_animation;
    	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;	    
    	-webkit-animation-delay: 5s;

}
